/**!
 * b4st CSS
 */

/* Sticky Footer */
@font-face {
    font-family: 'UTM Neo Sans Intel';
    src: url('../font/UTMNeoSansIntel-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'UTM Neo Sans Intel';
    src: url('../font/UTMNeoSansIntelBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'UTM Neo Sans Intel';
    src: url('../font/UTMNeoSansIntel-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'UTM Neo Sans Intel';
    src: url('../font/UTMNeoSansIntel.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Alternate Bold';
    font-style: normal;
    font-weight: normal;
    src: local('DIN Alternate Bold'), url('../font/DINAlternate-Bold.woff') format('woff');
}

html, body {
    font-family: 'UTM Neo Sans Intel', Arial, sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

a {
    text-decoration: none !important;
}

a:hover {
    cursor: pointer;
}

/*
* Navbar
 */

.bg-light {
    background-color: #fff !important;
}

.navbar-light .navbar-brand {
    height: 120px;
}

.navbar-light .navbar-brand img {
    max-width: 100%;
    margin-top: -40px;
    width: 75%;
}

.navbar-light .navbar-nav .nav-link {
    color: #000;
    font-size: 18px;
    white-space: nowrap;
}

.navbar-light .navbar-nav .nav-link:hover, ul.navbar-nav > li.active .nav-link {
    color: #ff9841 !important;
}

.navbar-nav .menu-item {
    padding: 0 20px;
    border-right: 2px solid #e7e7e7;
}

.navbar-nav .menu-item:last-child {
    border-right: none;
}

.navbar .navbar-contact {
    text-align: center;
    margin: 0 30px;
}

.navbar .navbar-contact .btn-contact {
    color: #ff9841;
    font-size: 72px;
    line-height: 72px;
}

.navbar .navbar-contact .link-contact {
    color: #000;
    text-decoration: none;
}

.menu-item .dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    background-color: #f8f8f8;
    border: none;
    border-radius: 0;
    margin: 0;
    padding: 0;
}

ul.navbar-nav > li.menu-item-has-children:hover, ul.navbar-nav > li.show {
    background-color: #f8f8f8;
}

.dropdown-menu .menu-item:first-child {
    border-top: none;
    border-right: none;
}

.dropdown-item {
    padding: 25px;
    width: 100%;
    padding-left: 70px;
}

.dropdown-item:focus, .dropdown-item:hover {
    background-color: unset;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #ff9841;
}

.icon-menu {
    background-origin: content-box;
    background-repeat: no-repeat;
    background-position: left;
    padding-left: 5px;
    background-size: 50px;
    border-right: none !important;
}

.icon-person {
    background-image: url(../images/menu-icon/person.png);
}

.icon-many-people {
    background-image: url(../images/menu-icon/many-people.png);
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown > .dropdown-toggle:active {
    /*Without this, clicking will make it sticky*/
    pointer-events: none;
}

/*
* Slide
 */
.flex-container {
    display: block;
    position: relative;
    width: 100%;
    min-height: 1px;
    overflow: hidden;
}

.flex-direction-nav a {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid #fff;
    text-align: center;
    background-color: #fff;
}

.flex-direction-nav .flex-next {
    text-align: center;
}

.flex-caption {
    padding: 2%;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
    font-size: 14px;
    line-height: 18px;
    margin: 0;
}

.flexslider {
    margin: 0;
}

.flexslider-slide ul li .slides-item {
    position: relative;
    display: block;
}

.flexslider-slide ul li .overslide {
    position: absolute;
    width: 50%;
    top: 0;
    left: 0;
    height: 100%;
}

.flexslider-slide ul li .overslide .caption {
    position: absolute;
}

.flex-direction-nav a:before {
    color: #ffd6b4;
}

.flexslider .slides img {
    width: 100%;
}

/*
* Out objectives
 */

.out-objectives {
    position: relative;
}

.out-objectives .col-objectives {
    margin: 30px 0 60px 0;
}

.out-objectives .bg-objectives-mockup {
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url(../images/objectives.png);
    display: block;
    width: 250px;
    height: 180px;
    background-size: contain;
    background-repeat: no-repeat;
}

.out-objectives-title {
    margin-top: 50px;
    font-size: 42px;
    font-weight: bold;
    color: rgba(55, 55, 55, 255);
}

.object-box {
    padding: 10px 15px 0 15px;
}

.object-box .object-index {
    font-family: 'DIN Alternate Bold', Arial, sans-serif;
    font-weight: normal;
    font-size: 90px;
    text-align: right;
    margin: auto;
    color: #b7b7b7;
}

.object-box .object-content {
    margin: auto;
}

.object-box .object-content p {
    margin-bottom: 10px;
}

.object-box .object-content .object-title {
    color: #f7770b;
    font-size: 33px;
    font-weight: bold;
}

.object-box .object-content .object-description {
    color: #b7b7b7;
    font-size: 24px;
}

.dottedbg {
    background-image: url(../images/bgdot.png);
}

/*
* Category
 */

.page-title {
    background-color: #707070;
}

.page-title h1 {
    color: #ebebeb;
    font-family: Serif, sans-serif;
    line-height: 90px;
    margin-bottom: 0;
}

.cat-dot {
    background-image: url(../images/cat-dot.png);
    display: inline-block;
    width: 22px;
    height: 22px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 10px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

.cat-list-box {
    border-bottom: 1px solid #ddd;
}

.cat-list-title {
    margin: 25px 0;
}

.cat-list-title a {
    color: rgba(55, 55, 55, 255);
    text-decoration: none;
}

.cat-list-title a:hover {
    color: rgba(250, 181, 80, 255);
    text-decoration: none;
}

.cat-list-title a:focus {
    outline: none;
}

.category-product {
    margin: 30px 0;
}

.category-product .category-product-body .category-product-body-img a img {
    width: 100%;
    height: auto;
}

.category-product .category-product-footer {
    background-color: #ececec;
    min-height: 100px;
    display: inline-block;
    width: 100%;
    line-height: 27px;
}

.category-product:hover .category-product-footer {
    background-color: #545454;
}

.category-product .category-product-footer p.title {
    padding: 20px 20px 0 20px;
}

.category-product .category-product-footer p.description {
    padding: 0 20px;
    min-height: 135px;
}


.category-product .category-product-footer .left a {
    color: #000;
    text-decoration: none;
    font-weight: bold;
}

.category-product:hover .category-product-footer p.title a {
    color: rgba(250, 181, 80, 255);
}

.category-product:hover .category-product-footer p.description {
    color: #ffffff;
}

/**
* Product
 */

.product-item {
    background-color: #fc943c;
    cursor: pointer;
    -webkit-transition: .5s all;
    -webkit-transition-delay: .2s;
    -moz-transition: .5s all;
    -moz-transition-delay: .2s;
    -ms-transition: .5s all;
    -ms-transition-delay: .2s;
    -o-transition: .5s all;
    -o-transition-delay: .2s;
    transition: .5s all;
    transition-delay: .2s;
}

.product-item:hover {
    background-color: #f7770b;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

.product-item .product-body {
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
}

.product-item .product-title {
    margin-bottom: 20px;
}

.product-item .product-body .product-body-img {
    min-height: 255px;
    display: flex;
}

.product-item .product-body img {
    margin: auto;
}

.product-item .product-body p {
    padding: 0 40px;
    text-align: left;
}

.product-item .product-footer {
    bottom: 0;
    left: 0;
    background-color: #8b8b8b;
    display: inline-block;
    width: 100%;
    -webkit-transition: .5s all;
    -webkit-transition-delay: .2s;
    -moz-transition: .5s all;
    -moz-transition-delay: .2s;
    -ms-transition: .5s all;
    -ms-transition-delay: .2s;
    -o-transition: .5s all;
    -o-transition-delay: .2s;
    transition: .5s all;
    transition-delay: .2s;
}

.product-item:hover .product-footer {
    background-color: #585858;
    -webkit-transition-delay: 0s;
    -moz-transition-delay: 0s;
    -ms-transition-delay: 0s;
    -o-transition-delay: 0s;
    transition-delay: 0s;
}

.product-item .product-footer p {
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0 40px;
    color: #fff;
    font-size: 14px;
}

.product-detail .product-detail-task {
    line-height: 100px;
    border-bottom: 1px solid #ddd;
}

.product-detail .product-detail-body {
    font-family: Arial, Serif, sans-serif;
    color: rgba(55, 55, 55, 255);
    margin-top: 60px;
}

.product-detail-body img {
	max-width: 100%;
	height: auto;
}

.btn-back-product {
    display: block;
    width: 200px;
    line-height: 40px;
    color: #fff;
    background-color: #4c4c4c;
    border-radius: 15px;
    text-align: center;
    margin: 50px 0 30px 15px;
    text-decoration: none;
}

.btn-back-product:hover {
    text-decoration: none;
    color: #fff;
}

.btn-back-product .back-icon {
    background-image: url(../images/back.png);
    height: 16px;
    width: 34px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}

.product-attr img {
    width: 20px;
    height: auto;
    margin-right: 8px;
}

.product-attr .web span.lik {
    color: rgba(247, 133, 82, 255);
    border-bottom: 1px dotted #9d9d9d;
}

.product-detail-body .product-title {
    margin: 0 15px;
    text-align: right;
}

/*
* Partner
 */
.partner {
    padding: 0 150px;
    background-color: #f3f3f3;
    margin: 15px 0;
}

.partner .partner-title {
    color: #ff9841;
    margin-top: 50px;
    margin-left: 30px;
    font-size: 26px;
}

.partner .carousel-partner {
    background-color: #f3f3f3;
    border: none;
    margin: 0;
    position: relative;
}

.partner .img-up, .partner .img-dn {
    min-height: 100px;
    display: flex;
}

.partner img {
    width: auto !important;
    margin: auto;
    max-width: 200px;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    cursor: pointer;
}

.partner img:hover {
    filter: unset;
    -webkit-filter: unset;
}

.custom-navigation {
    position: absolute;
    top: calc(50% - 20px);
    left: 0;
    width: 100%;
}

.custom-navigation .control {
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 30px;
    position: relative;
    background-color: #dfdfdf;
    color: #686868;
    line-height: 35px;
}

.custom-navigation .flex-prev {
    float: left;
    margin-left: -100px;
}

.custom-navigation .flex-next {
    float: right;
    margin-right: -100px;
}

/**
* Personal
 */
.personal-box {
    font-family: Serif, sans-serif;
}

.personal-box .personal-img {
    padding: 50px 100px;
    text-align: right;
}

.personal-box .personal-img img {
    border-radius: 50%;
    max-width: 100%;
}

.personal-box .personal-content {
    padding: 50px 100px;
    position: relative;
}

.personal-box .personal-content .quotes {
    position: absolute;
    top: -22px;
    left: -20px;
    font-size: 226px;
    color: #e5e5e5;
    font-style: unset;
    font-weight: bold;
}

.personal-box .personal-content .formulation {
    font-style: italic;
    font-size: 32px;
    padding: 20px 15px;
    text-align: justify;
}

.personal-box .personal-content .personal-name {
    text-align: right;
    font-size: 28px;
    font-weight: bold;
}

.partner-box {
    background-color: #f3f3f3;
}

.partner-box .partner-item img{
    max-width: 100%;
    margin: auto;
    display: block;
}

.partner-box .partner-item {
    padding: 50px;
    display: grid;
}

/**
* News
 */

article .new-item-first {
    margin-top: 60px;
    margin-bottom: 15px;
}

article .new-item-first .thumbnail img, .new-item .thumbnail img {
    max-width: 100%;
    height: auto;
}

article .new-item-first .info h2 a, .new-item .info h2 a {
    font-family: Serif, sans-serif;
    color: rgba(55, 55, 55, 255);
    font-size: 52px;
}

.new-item .info h2 a {
    font-size: 36px;
}

p.text-muted {
    color: rgba(249, 135, 37, 255) !important;
}

p.text-muted time.entry-date {
    color: rgba(55, 55, 55, 255) !important;
    font-size: 14px;
}

article .new-item-first .info p.excerpt {
    font-family: Arial, Serif, sans-serif;
    font-size: 26px;
    color: rgba(55, 55, 55, 255);
    text-align: left;
}

.new-item .info .read-more {
    padding-top: 1em;
    border-top: 1px dotted #ddd;
}

.info .read-more a {
    color: rgba(249, 135, 37, 255);
    margin: 30px;
    text-decoration: none;
}

.info .read-more a > span {
    color: #aaaaaa;
}

.new-item {
    margin: 15px 0;
}

.new-item .info {
    padding: 30px 30px 5px 30px;
    background-color: #fafafa;
}

/**
* article-detail
 */

article img {
    max-width: 100%;
}

.article-detail {
    padding: 0 110px;
}

.article-detail article {
    position: relative;
}

.article-detail .post-date-box {
    position: absolute;
    left: -200px;
    top: 15px;
    height: 150px;
    width: 150px;
    display: flex;
    background-image: url(../images/bgdot.png);
    text-align: right;
    padding: 0 10px;
}

.article-detail .post-date-box .date-box {
    margin: auto 0;
    width: 100%;
}

.article-detail .post-date-box .date {
    display: inline-block;
    font-size: 52px;
    border-bottom: 1px solid #ccc;
}

.article-detail .post-date-box .year {
    display: block;
    font-size: 22px;
}

.article-detail img {
    max-width: 100%;
    height: auto;
}

.article-detail .thumbnail-caption {
    font-weight: bold;
    margin: 15px 0;
}

.article-detail header h1 {
    font-family: Serif, sans-serif;
    color: rgba(55, 55, 55, 255);
    font-size: 52px;
    margin: 30px 0;
}

.article-detail main {
    font-family: Arial, Serif, sans-serif;
    color: rgba(55, 55, 55, 255);
}

.article-detail .excerpt {
    margin: 50px 0;
    font-size: 18px;
}

.article-detail .content {
    margin: 60px 0;
    font-size: 18px;
}

.related-post-title {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
}

/**
* recruit-list
 */

.recruit-box {
    margin-top: 60px;
}

.recruit-list .recruit-header {
    border-bottom: 3px solid #8e8e8e;
    line-height: 70px;
}

.recruit-list .recruit-header .left {
    font-size: 48px;
    font-family: Serif, sans-serif;
    text-align: left;
    padding-left: 105px;
    background-color: #f6f6f6;
}

.recruit-list .recruit-header .right {
    text-align: center;
    background-color: #e3e3e3;
}

.recruit-list .recruit-header .right:before {
    content: " ";
    position: absolute;
    display: block;
    width: 15%;
    height: 100%;
    transform-origin: bottom left;
    -ms-transform: skew(30deg, 0deg);
    -webkit-transform: skew(30deg, 0deg);
    transform: skew(30deg, 0deg);
    background-color: #e3e3e3;
    left: 0px;
}

.recruit-list .recruit-item {
    border-bottom: 1px solid #ddd;
    line-height: 70px;
}

.recruit-list .recruit-item .left .number {
    display: inline-block;
    width: 72px;
    height: 72px;
    background-color: #f1f1f1;
    text-align: center;
    font-size: 28px;
    color: #848484;
    margin-left: -15px;
}

.recruit-list .recruit-item .left a {
    color: rgba(60, 60, 60, 255);
    font-size: 24pt;
    text-decoration: none;
    margin-left: 30px;
}

.recruit-list .recruit-item:hover .left .number, .recruit-list .recruit-item:hover .left a {
    color: rgba(245, 133, 37, 255);
}

.recruit-list .recruit-item:hover {
    background-color: #f1f1f1;
}

.recruit-list .recruit-item .right {
    text-align: center;
}

/*
* Recruit detail
 */
.recruit-detail .recruit-detail-header {
    border-bottom: 3px solid #8e8e8e;
    line-height: 100px;
    margin-top: 60px;
    background-color: #f6f6f6;
    font-size: 48px;
    font-family: Serif, sans-serif;
    text-align: left;
}

.recruit-detail .recruit-detail-body {
    font-family: Arial, Serif, sans-serif;
    color: rgba(55, 55, 55, 255);
    margin-top: 60px;
}

.recruit-detail .recruit-detail-title {
    border-bottom: 1px solid #ddd;
}

.recruit-detail .recruit-detail-title .certificate {
    display: inline-block;
    width: 65px;
    height: 65px;
    background-image: url(../images/certificate.png);
    background-size: contain;
    background-repeat: no-repeat;
}

.recruit-detail .recruit-detail-title .number {
    display: inline-block;
    width: 72px;
    line-height: 100px;
    text-align: center;
    font-size: 28px;
    color: #848484;
}

.recruit-detail .recruit-detail-title .recruit-title {
    line-height: 100px;
    font-size: 32px;
}

.appl-box {
    font-family: 'UTM Neo Sans Intel', Arial, sans-serif;
}

.btn-apply {
    display: block;
    line-height: 50px;
    width: 150px;
    background-color: #ff9841;
    text-align: center;
    border-radius: 6px;
}

/**
* Member
 */
.member-list {
    padding: 0 50px;
    MARGIN-TOP: 60px;
}

.member-list .member{
    padding: 25px 0;
}

.member-list .member .member-left{
    cursor: pointer;
}

.member-list .member .member-left .member-left-img{
    position: relative;
}

.member-list .member .member-left img{
    max-width: 100%;
}

.member-list .member .member-left p {
    padding-left: 50px;
}


.member-list .member .member-left .profile {
    display: block;
    width: 100%;
    background-color: #f7f7f7;
}

.member-list .member .member-left p.name {
    font-size: 24px;
    padding-top: 25px;
}

.member-list .member .member-left p.pos {
    font-size: 20px;
    padding-top: 0;
    padding-bottom: 25px;
    color: #8c8c8c;
}

.member-list .member .member-left .formulation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding: 30px;
    margin: auto;
    text-align: justify;
    height: 100%;
    background: rgba(0,0,0,0.7);
    transform: scale(0.7);
    opacity: 0;
    transition: all 0.25s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
}

.member-list .member .member-left .formulation:hover {
    transform: scale(1);
    opacity: 1;
    transition: all 0.25s cubic-bezier(0.2, 0.3, 0.25, 0.9) 0s;
}

.member-list .member .member-left .formulation .formulation-conten {
    display: block;
    width: 100%;
    margin: auto;
    color: rgba(255, 255, 255, 255);
    font-size: 28px;
}

.member-list .w-100 {
    border-bottom: 1px solid #ccc;
}

.member-list h2.member-title-board {
    color: rgba(255, 108, 0, 255);
    line-height: 85px;
    margin-bottom: 0;
}

.member-list .member .member-right {
    padding: 0 50px;
}

.member-list .member .member-right p {
    line-height: 50px;
    font-size: 22px;
}

.member-list .member .member-right p.pb2 {
    font-style: italic;
}

#member-carousel ul.slides li img{
    cursor: pointer;
    border-radius: 10px;
    border: 5px solid #fff;
}

#member-carousel ul.slides li.flex-active-slide img{
    border: 5px solid #ff9841;
}

.staffs .profile{
    background-color: #fff!important;
}

.staffs .profile p {
    padding-left: 0!important;
}
/*
* Footer
 */
footer .footer-bottom {
    background-color: #636363;
    color: #fff;
}

footer .footer-bottom .footer-bottom-left {
    text-align: right;
    border-right: 1px solid #8c8c8c;
    font-size: 14px;
    color: #d7d7d7;
    margin: 30px 0;
    padding-right: 30px;
}

footer .footer-bottom .footer-bottom-left p {
    padding: 0;
    margin: 10px 0;
}

footer .footer-bottom .footer-bottom-left p a {
    color: #d7d7d7;
}

footer .footer-bottom .footer-bottom-left .contact {
    margin-top: 30px;
}

footer .footer-bottom .footer-bottom-left p.copyright {
    margin-top: 30px;
}

footer .footer-bottom .footer-bottom-right {
    border-right: 1px solid #8c8c8c;
    text-align: left;
    margin: 30px 0;
}

footer .footer-bottom .footer-bottom-right .follow {
    padding-left: 30px;
}

footer .footer-bottom .footer-bottom-right .online-help {
    color: #808080;
    text-align: center;
    bottom: 0;
    position: absolute;
    width: calc(100% - 30px);
}

footer .footer-bottom .footer-bottom-right ul {
    list-style: none;
    padding: 0;
    margin: 30px;
    text-align: center;
}

footer .footer-bottom .footer-bottom-right ul li {
    display: inline-block;
    width: 50px;
    margin-right: 30px;
}

footer .footer-bottom .footer-bottom-right ul li img {
    max-width: 100%;
}

.div-select-lang ul {
    list-style: none;
    display: inline-flex;
}

.div-select-lang ul li a{
    color: #fff;
    min-width: 120px;
    background-color: #636363;
    border-radius: 20px;
    font-size: 18px;
    text-transform: uppercase;
    display: block;
    text-align: center;
    padding: 5px 0;
    margin-left: 10px;
    border: 1px solid #636363;
}

.div-select-lang ul li a:hover, .div-select-lang ul li.current-lang a{
    color: rgba(249, 168, 100, 255);
    background-color: #454545;
    border: 1px solid #d7d7d7;
}

/*
* Contact
 */

.contact-form {
    margin-top: 60px;
}

.input-group-icon {
    position: relative;
}

.input-text {
    border: none;
    border-radius: 0;
    padding-left: 60px;
    padding-bottom: 0;
    outline: none;
}

.input-text:focus {
    box-shadow: none;
}

.input-icon {
    font-size: 28px;
    color: #6d6e71;
    position: absolute;
    bottom: 15px;
    left: 15px;
}

.textarea-icon {
    font-size: 28px;
    color: #6d6e71;
    position: absolute;
    top: 0;
    left: 15px;
}

.input-hr {
    margin: 10px 0;
    border: 0;
    border-bottom: 1px dotted #ddd;
}

.btn-send-contact {
    line-height: 44px;
    background-color: #696969;
    width: 150px;
    font-size: 28px;
    color: #fff;
}

.link-to-chat {
    line-height: 40px;
    color: rgba(247, 133, 82, 255);
    cursor: pointer;
}

.location {
    padding: 15px 0;
    font-size: 24px;
}

/**
 * For mobile phones:
 */

@media only screen and (max-width: 768px) {

    .navbar-light .navbar-brand {
        height: 105px;
        line-height: 105px;
        width: 50%;
        margin: 0;
    }

    .icon-person, .icon-many-people {
        background-image: none;
    }

    .dropdown-menu .menu-item {
        margin: 0;
        padding: 0;
    }

    .dropdown-item {
        margin: 0;
        padding-left: 25px;
    }

    .page-title h1 {
        line-height: 70px;
        font-size: 1.5rem;
    }

    /*
    * Objectives
     */
    .object-box .object-index {
        margin: -5px 0 0 0;
    }

    .out-objectives-title {
        font-size: 2em;
        margin: 15px 0;
    }

    .out-objectives .col-objectives {
        margin: 0;
    }

    .object-box {
        padding: 0;
    }

    .object-box .object-index {
        font-size: 48px;
    }

    .object-box .object-content .object-title {
        font-size: 20px;
    }

    .object-box .object-content .object-description {
        font-size: 18px;
    }

    /*
    * Product
     */
    .product-item {
        margin-bottom: 15px;
    }

    /*
    * Partner
     */
    .partner {
        padding: 0;
        margin: 0;
    }

    .partner .partner-title {
        margin-left: 0;
        text-align: center;
    }

    /*
    * Personal
     */
    .personal-box .personal-img {
        padding: 0;
        text-align: center;
        margin-top: 20px;
    }

    .personal-box .personal-content {
        padding: 15px;
    }

    /*
    * Footer
     */
    footer .footer-bottom .footer-bottom-right ul {
        list-style: none;
        text-align: center;
        padding: unset;
        margin: auto;
        margin-bottom: 3rem;
    }

    footer .footer-bottom .footer-bottom-right ul li {
        margin: 5px;
    }

    footer .footer-bottom .footer-bottom-right .online-help {
        bottom: auto;
    }
}